<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
bool

bool

In [2]:
print(3 == 5)

False

In [3]:
print(3<5)

True

In [4]:
x=4
print(1<x<5)

True

In [5]:
print ((3 == 3) and (4 != 3))

True

In [6]:
#print(3 => 4)
# 에러 메시지와 함께 출력되지 않는다. 
# ">="이어야 하는데 순서가 잘못 됌

">="이어야 하는데 순서가 잘못 됌

In [7]:
if 4 < 3:
    print("Hello World")
# 출력되지 않는다 : if가 false니까

In [8]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [9]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [10]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [11]:
a = input()
print(a*2)

안녕하세요
안녕하세요안녕하세요

In [12]:
a= int(input())
print(a+10)

4
14

In [13]:
a= int(input())
if a%2 ==1:
    print("홀수")
else:
     print("짝수")

13
홀수

In [14]:
a= int(input())
if a + 20 > 255:
    print(255)
else:
    print(a+20)

45
65

In [15]:
a= int(input("입력값 : "))
print("출력값 : ",end='')
if a - 20 > 255:
    print(255)
elif a- 20<0:
    print(0)
else:
    print(a+20)

입력값 : 488
출력값 : 255

In [16]:
a= input("현재 시간 : ")
if a.split(":")[1] == '00':
    print("정각입니다")
else:
    print("정각이 아닙니다")

현재 시간 : 12:09
정각이 아닙니다

In [17]:
fruit = ["사과", "포도", "홍시"]
a= input("좋아하는 과일은? ")
if a in fruit:
    print("정답입니다")
else:
    print("오답입니다")

좋아하는 과일은? 귤
오답입니다

In [18]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a= input("종목을 입력해주세요. ")
if a in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다")

종목을 입력해주세요. Kakao
투자 경고 종목입니다

In [19]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a= input("제가좋아하는계절은: ")
if a in fruit.keys():
    print("정답입니다")
else:
    print("오답입니다")

제가좋아하는계절은: 봄
정답입니다

In [20]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a= input("제가좋아하는과일은: ")
if a in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

제가좋아하는과일은: 딸기
정답입니다

In [21]:
a = input()
if a.islower():
    print(a.upper())
else:
    print(a.lower())

a
A

In [22]:
a = int(input())
if a>80:
    d = "A"
elif a>60:
    d= "B"
elif a>40:
    d="C"
elif a>20:
    d="D"
else:
    d="E"
print(f"grade is {d}")

34
grade is D

In [23]:
a = input("입력 : ")
if a.split(" ")[1] =="달러":
    print(int(a.split(" ")[0]) * 1167)
elif a.split(" ")[1] =="엔":
    print(int(a.split(" ")[0]) * 1.096)
elif a.split(" ")[1] =="유로":
    print(int(a.split(" ")[0]) * 1268)
else: 
    print(int(a.split(" ")[0]) * 171)

입력 : 1 엔
1.096

In [24]:
a = input("입력1 : ")
b = input("입력2 : ")
c = input("입력3 : ")
print(max(a,b,c))

입력1 : 5
입력2 : 7
입력3 : 8
8

In [25]:
a = input("휴대 전화 번호 입력 : ")
b = a.split('-',)[0]
if b =='011':
    d = 'skt'
elif b == '016':
    d = 'kt'
elif b== '019' : 
    d = 'LGU'
elif b == '010':
    d = "알 수 없는"
print(f"당신은 {d} 사용자입니다.")

휴대 전화 번호 입력 : 010-1234-5678
당신은 알 수 없는 사용자입니다.

In [26]:
a = input("우편번호: ")
a = a[0:3]
if a in ["010", "011", "012"]:
    print("강북구")
elif a in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01056
강북구

In [27]:
a = input("주민등록번호: ")
a = int(a.split("-")[1][0])
if a%2==1:
    print("남자")
else:
    print("여자")

주민등록번호: 123456-7865423
남자

In [28]:
a = input("주민등록번호: ")
a = int(a.split("-")[1][1:3])
if a<=8:
    print("서울입니다")
else : 
    print("서울이 아닙니다")

주민등록번호: 123456-7865423
서울이 아닙니다

In [29]:
a = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]
b = input()
c = b.split('-')[0]
d = b.split('-')[1]
num = 0
for l in range(len(c)):
    num += int(c[l]) * a[l]
for l in range(len(c),len(a)):
    num += int(d[l-len(c)]) * a[l]
print(11-num%11)
if (11-num%11) == int(d[-1]):
    print('유효한 주민등록번호이다')
else:
    print("유효하지 않은 주민등록번호입니다.")

123456-7865423
4
유효하지 않은 주민등록번호입니다.

In [30]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = int(btc['max_price']) - int(btc['min_price'])
if (int(btc['opening_price'])-변동폭) > int(btc['max_price']):
    print("상승장")
else:
    print('하락장')

하락장

In [31]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [32]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [33]:
a = ['A','B','C']
print(a[0])
print(a[1])
print(a[2])

A
B
C

In [34]:
a = ["A", "B", "C"]
print("출력:", a[0])
print("출력:", a[1])
print("출력:", a[2])

출력: A
출력: B
출력: C

In [35]:
a = ["A", "B", "C"]
print("변환:", a[0].lower())
print("변환:", a[1].lower())
print("변환:", a[2].lower())

변환: a
변환: b
변환: c

In [36]:
for l in [10,20,30]:
    print(l)

10
20
30

In [37]:
for l in [10,20,30]:
    print(l)

10
20
30

In [38]:
for l in [10,20,30]:
    print(l)
    print('-------')

10
-------
20
-------
30
-------

In [39]:
for l in ['++++',10,20,30]:
    print(l)

++++
10
20
30

In [40]:
for l in [10,20,30,40]:
    print('-------')

-------
-------
-------
-------

In [41]:
리스트 = [100, 200, 300]
for l in 리스트:
    print(l+10)

110
210
310

In [42]:
리스트 = ["김밥", "라면", "튀김"]
for l in 리스트:
    print(l)

김밥
라면
튀김

In [43]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for l in 리스트:
    print(len(l))

6
4
4

In [44]:
리스트 = ['dog', 'cat', 'parrot']
for l in 리스트:
    print(len(l))

3
3
6

In [45]:
리스트 = ['dog', 'cat', 'parrot']
for l in 리스트:
    print(l[0])

d
c
p

In [46]:
리스트 = [1, 2, 3]
for l in 리스트:
    print(f'3 x {l}')

3 x 1
3 x 2
3 x 3

In [47]:
리스트 = [1, 2, 3]
for l in 리스트:
    print(f'3 x {l} = {3*l}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [48]:
리스트 = ["가", "나", "다", "라"]
for l in 리스트[1:]:
    print(l)

나
다
라

In [49]:
리스트 = ["가", "나", "다", "라"]
for l in 리스트[::2]:
    print(l)

가
다

In [50]:
리스트 = ["가", "나", "다", "라"]
for l in 리스트[::-1]:
    print(l)

라
다
나
가

In [51]:
리스트 = [3, -20, -3, 44]
for l in 리스트[1:3]:
    print(l)

-20
-3

In [52]:
리스트 = [3, 100, 23, 44]
for l in 리스트[:1]:
    print(l)

3

In [53]:
리스트 = [13, 21, 12, 14, 30, 18]
for l in 리스트:
    if l%3 ==0:
        print(l)

21
12
30
18

In [54]:
리스트 = ["I", "study", "python", "language", "!"]
for l in 리스트:
    if len(l) >=3:
        print(l)

study
python
language

In [55]:
리스트 = ["A", "b", "c", "D"]
for l in 리스트:
    if l.isupper():
        print(l)

A
D

In [56]:
for l in 리스트:
    if l.islower():
        print(l)

b
c

In [57]:
리스트 = ['dog', 'cat', 'parrot']
for l in 리스트:
    print(l[0].upper()+l[1:])

Dog
Cat
Parrot

In [58]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for l in 리스트:
    print(l.split('.')[0])

hello
ex01
intro

In [59]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for l in 리스트:
    if l.split('.')[1] == 'h':
        print(l)

intra.h
define.h

In [60]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for l in 리스트:
    if l.split('.')[1] == 'h' or l.split('.')[1] == 'c':
        print(l)

intra.h
intra.c
define.h

In [61]:
for l in range(0,100):
    print(l,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [62]:
for l in range(2002,2051):
    if l%4 == 2:
        print(l, end = ' ')

2002 2006 2010 2014 2018 2022 2026 2030 2034 2038 2042 2046 2050

In [63]:
for l in range(1,31):
    if l%3 == 0:
        print(l, end = ' ')

3 6 9 12 15 18 21 24 27 30

In [64]:
for l in range(99,-1,-1):
    print(l,end = ' ')

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [65]:
for l in range(0,10):
    print(l*0.1)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9

In [66]:
for l in range(1,10):
    print(f'3 x {l} = {3*l}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [67]:
for l in range(1,10,2):
    print(f'3 x {l} = {3*l}')

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [68]:
num = 0
for l in range(1,11):
    num += l
print(num)

55

In [69]:
num = 0
for l in range(1,11,2):
    num += l
print(num)

25

In [70]:
num = 1
for l in range(1,11):
    num *= l
print(num)

3628800

In [71]:
price_list = [32100, 32150, 32000, 32500]
for l in range(0,len(price_list)):
    print(price_list[l])

32100
32150
32000
32500

In [72]:
price_list = [32100, 32150, 32000, 32500]
for l in range(0,len(price_list)):
    print(l, price_list[l])

0 32100
1 32150
2 32000
3 32500

In [73]:
price_list = [32100, 32150, 32000, 32500]
for l in range(0,len(price_list)):
    print(3-l, price_list[l])

3 32100
2 32150
1 32000
0 32500

In [74]:
price_list = [32100, 32150, 32000, 32500]
for l in range(0,len(price_list)):
    if l==0:
        continue
    print(90+10*l, price_list[l])

100 32150
110 32000
120 32500

In [75]:
my_list = ["가", "나", "다", "라"]
for l in range(0,len(my_list)-1):
    print(my_list[l],my_list[l+1])

가 나
나 다
다 라

In [76]:
my_list = ["가", "나", "다", "라", "마"]
for l in range(0,len(my_list)-2):
    print(my_list[l],my_list[l+1],my_list[l+2])

가 나 다
나 다 라
다 라 마

In [77]:
my_list = ["가", "나", "다", "라"]
for l in range(len(my_list)-1,0,-1):
    print(my_list[l],my_list[l-1])

라 다
다 나
나 가

In [78]:
my_list = [100, 200, 400, 800]
for l in range(0,len(my_list)-1):
    print(my_list[l+1]-my_list[l])

100
200
400

In [79]:
my_list = [100, 200, 400, 800, 1000, 1300]
for l in range(0,len(my_list)-2):
    print((my_list[l]+my_list[l+1]+my_list[l+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [80]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for l in range(0,len(low_prices)):
    volatility.append(high_prices[l]-low_prices[l])
volatility

[50, 100, 30, 80, 0]

In [81]:
apart = [
    ['101호', '102호'],
    ['201호', '202호'],
    ['301호','302호']
    
]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [82]:
stock = [
    ["시가", 100, 200, 300],
    ["종가", 80, 210, 330] 
]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [83]:
stock = {
    '시가' : [100,200,300],
    '종가' : [80,210,330]
}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [84]:
stock = {
    '10/10' : [80,110,70,90],
    '10/11' : [210,230,190,200]
}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [85]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for l in range(len(apart)):
    for m in range(len(apart[l])):
        print(apart[l][m] ,"호 ")

101 호
102 호
201 호
202 호
301 호
302 호

In [86]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for l in range(len(apart)-1,-1, -1):
    for m in range(len(apart[l])):
        print(apart[l][m] ,"호 ")

301 호
302 호
201 호
202 호
101 호
102 호

In [87]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for l in range(len(apart)-1,-1, -1):
    for m in range(len(apart[l])-1,-1,-1):
        print(apart[l][m] ,"호 ")

302 호
301 호
202 호
201 호
102 호
101 호

In [88]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for l in range(len(apart)):
    for m in range(len(apart[l])):
        print(apart[l][m] ,"호 ")
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [89]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for l in range(len(apart)):
    for m in range(len(apart[l])):
        print(apart[l][m] ,"호 ")
    print('----')

101 호
102 호
----
201 호
202 호
----
301 호
302 호
----

In [90]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for l in range(len(apart)):
    for m in range(len(apart[l])):
        print(apart[l][m] ,"호 ")
print('----')

101 호
102 호
201 호
202 호
301 호
302 호
----

In [91]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for l in range(len(data)):
    for m in range(len(data[l])):
        print(data[l][m] + data[l][m] * 0.00014)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [92]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for l in range(len(data)):
    for m in range(len(data[l])):
        print(data[l][m] + data[l][m] * 0.00014)
    print('----')

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [93]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for l in range(len(data)):
    for m in range(len(data[l])):
        result.append(data[l][m] + data[l][m] * 0.00014)
result

[2000.28,
 3050.427,
 2050.287,
 1980.2772,
 7501.05,
 2050.287,
 2050.287,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086]

In [94]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
result1 = []
for l in range(len(data)):
    for m in range(len(data[l])):
        result1.append(data[l][m] + data[l][m] * 0.00014)
    result.append(result1)
    result1 = []
result

[[2000.28, 3050.427, 2050.287, 1980.2772],
 [7501.05, 2050.287, 2050.287, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086]]

In [95]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for l in range(len(ohlc)):
    print(ohlc[l][-1])

close
100
190
310

In [96]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for l in range(len(ohlc)):
    if l==0: continue
    if int(ohlc[l][-1]) > 150:
        print(ohlc[l][-1])

190
310

In [97]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for l in range(len(ohlc)):
    if l==0: continue
    if int(ohlc[l][-1]) >=  ohlc[l][0]:
        print(ohlc[l][-1])

100
310

In [98]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for l in range(len(ohlc)):
    if l==0: continue
    volatility.append(ohlc[l][1] - ohlc[l][2])
volatility

[40, 30, 10]

In [99]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for l in range(len(ohlc)):
    if l==0: continue
    if ohlc[l][-1] >  ohlc[l][0]:
        print(ohlc[l][1] - ohlc[l][2])

10

In [100]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
num = 0
for l in range(len(ohlc)):
    if l==0: continue
    num += (ohlc[l][0] - ohlc[l][-1])
print(num)

0