<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#파이썬-시작하기" data-toc-modified-id="파이썬-시작하기-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>파이썬 시작하기</a></span></li><li><span><a href="#파이썬-변수" data-toc-modified-id="파이썬-변수-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>파이썬 변수</a></span></li><li><span><a href="#파이썬-문자열" data-toc-modified-id="파이썬-문자열-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>파이썬 문자열</a></span></li><li><span><a href="#파이썬-리스트" data-toc-modified-id="파이썬-리스트-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>파이썬 리스트</a></span></li><li><span><a href="#튜플" data-toc-modified-id="튜플-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>튜플</a></span></li></ul></div>

# 파이썬 시작하기

In [1]:
print('Hello World')

Hello World

In [2]:
print('Mary\'s cosmetics')

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [4]:
print("C:\\Windows")

C:\Windows

In [5]:
print("안녕하세요. \n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n : 줄바꿈  
\t : 탭을 쓴 것 만큼 띄운다.

In [6]:
print ("오늘은", "일요일")

오늘은 일요일

In [7]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [8]:
print("naver\\kakao\\sk\\samsung")

naver\kakao\sk\samsung

In [9]:
print("first",end=" "); print("second")

first second

In [10]:
print(5/3)

1.6666666666666667

# 파이썬 변수

In [11]:
삼성전자 = 50000
print("총 평가금액 : ", 삼성전자 *10)

총 평가금액 :  500000

In [12]:
시가총액 = 298*10^12
현재가 = 50000
PER = 15.79

In [13]:
s = "hello"
t = "python"
print(s+ "!",t)

hello! python

In [14]:
print(2+2*3)

8

In [15]:
a= "132"
print(type(a))

<class 'str'>

In [16]:
num_str = "720"
num_str = int(num_str)
print(type(num_str))

<class 'int'>

In [17]:
num_str = 720
num_str = str(num_str)
print(type(num_str))

<class 'str'>

In [18]:
num_str = float("15.79")
print(type(num_str))

<class 'float'>

In [19]:
year = "2020"
year = str(year)
print(type(a))

<class 'str'>

In [20]:
print("에어컨 가격" , 48584 * 36)

에어컨 가격 1749024

# 파이썬 문자열

In [21]:
letter = 'python'
print(letter[0],letter[2])

p t

# 파이썬 문자열

In [22]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [23]:
string = "홀짝홀짝홀짝"
string[::2]
# 슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.

'홀홀홀'

In [24]:
string = "PYTHON"
string[::-1]

'NOHTYP'

In [25]:
phone_number = "010-1111-2222"
phone_number.replace('-', ' ')

'010 1111 2222'

In [26]:
phone_number.replace('-', '')

'01011112222'

In [27]:
url = "http://sharebook.kr"
url.split('.')[-1]

'kr'

In [29]:
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
# 에러난다

SyntaxError: invalid syntax (2837443678.py, line 1)

In [ ]:
string = 'abcdfe2a354a32a'
string.replace('a','A')

In [30]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

`abcd`가 그대로 출력됩니다. 왜냐하면 *문자열은 변경할 수 없는 자료형*이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

In [31]:
a="3";b="4"
print(a+b)

34

In [32]:
print("Hi" * 3)

HiHiHi

In [33]:
print('-'*80)

--------------------------------------------------------------------------------

In [34]:
t1 = "python"
t2 = "java"
t = t1 + " " + t2 + " "
print(t * 4)

python java python java python java python java

In [35]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : %s 나이: %d"%(name1,age1))
print("이름 : %s 나이: %d"%(name2,age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [36]:
print("이름 : {} 나이: {}".format(name1,age1))
print("이름 : {} 나이: {}".format(name2,age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [37]:
print(f"이름 : {name1} 나이: {age1}")
print(f"이름 : {name2} 나이: {age2}")

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [38]:
상장주식수 = "5,969,782,550"
int(상장주식수.replace(',',''))

5969782550

In [39]:
분기 = "2020/03(E) (IFRS연결)"
분기.split('(')[0]

'2020/03'

In [40]:
data = "   삼성전자    "
data.strip()

'삼성전자'

In [41]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [42]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [43]:
a = 'hello'
a.upper()

'HELLO'

In [44]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [45]:
file_name = "보고서.xls"
file_name.endswith(('xlsx','xls'))

True

In [46]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [47]:
a = "hello world"
a.split(' ')

['hello', 'world']

In [48]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [49]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [50]:
data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트

In [51]:
movie_rank = ['닥터 스트레인지','스플릿','럭키']

In [52]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [53]:
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [54]:
movie_rank.remove('럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [55]:
#movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

In [56]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [57]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ', max(nums)) ; print('min: ',min(nums))

max:  7
min:  1

In [58]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [59]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [60]:
sum(nums) / len(nums)

3.0

In [61]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [62]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [63]:
nums[1::2]

[2, 4, 6, 8, 10]

In [64]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [65]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[-1])

삼성전자 Naver

In [66]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
' '.join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [67]:
'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [68]:
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [69]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [70]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

# 튜플

In [71]:
my_variable = ()

In [72]:
movie_rank = ('닥터 스트레인지','스플릿','럭키')

In [73]:
my_variable = (1,)

In [74]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

tuple은 안의 내용물을 바꿀 수 없음

In [75]:
t = 1, 2, 3, 4
type(t)

tuple

In [76]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c') #튜플은 변경 불가하므로 새로운 튜플을 제조한다

In [77]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
type(interest)

list

In [78]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
type(interest)

tuple

In [79]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [80]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [107]:
import datetime
print(f'지금 시간은 {datetime.datetime.now()}입니다')

지금 시간은 2023-11-24 16:25:48.561533입니다

In [91]:
datetime.time()

datetime.time(0, 0)